[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
isort = "*"
pygame-ce = "*"

[dev-packages]
pre-commit = "*"
ruff = "*"
line-profiler = "*"

[requires]
python_version = "3.10"
